/* home */
#posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: auto;
}

.post img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
}

/* profile */
#user-posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

#user-posts-container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
